*{
	margin:auto;
	padding:auto;
}

html, body{
	width:100%;
	height:100%;
	font-size:15px;
	font-weight:normal;
}

.background{
	
	width:100%;
	height:100%;
	background-image: url(bg1blurrrr.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:fixed;
	overflow-y:auto;
	color:white;
	text-align:center;
}


.profile{
	width:450px;
	height:100%;
	background: rgba(0,0,0,0.8);

	text-align: center;
	margin:auto;
	letter-spacing:3px;
	color:#CCC;
	font-family:'Century Gothic',sans-serif;
	
}

img{
	height:250px;
	border-radius:80%;
}

li {
	list-style:none;
}

ul li a{
	padding-right:20px;
	color:#CCC;
	text-decoration:none;
	font-size:15px;

	}

li a:hover{
	color:#063;
}
